{% extends 'base.html' %}
{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <table class="table" style="width:100%;">
        <thead>
            <tr>
                <th class="title">選擇螢幕(Imax, 3D, 數位)</th>
                <th class="title">地區</th>
                <th class="title">影院</th>
                <td>
                    <input class="input" type="text" placeholder="輸入電影關鍵字" name="movieTitle"
                        style="width: 90%; padding: 10px; font-size: 30px; border: 1px solid #ccc; border-radius: 5px;">
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="checkbox" id="Imax" name="Imax">
                    <label for="Imax">Imax</label>
                    <input type="checkbox" id="3D" name="3D">
                    <label for="3D">3D</label>
                    <input type="checkbox" id="digital" name="數位">
                    <label for="digital">數位</label>
                </td>
                <td>
                    <select id="area" name="area">
                        <option value="">選擇地區</option>
                        <option value="north">北部</option>
                        <option value="central">中部</option>
                        <option value="south">南部</option>
                    </select>
                </td>
                <td>
                    <select id="cinema" name="cinema">
                        <option value="">選擇戲院</option>
                        <option value="威秀">威秀</option>
                        <option value="國賓">國賓</option>
                        <option value="美麗華">美麗華</option>
                        <option value="秀太">秀太</option>
                    </select>
                </td>
                <td>
                    <button class="button">搜尋</button>
                </td>
            </tr>
        </tbody>

    </table>
    <div class="poster columns is-multiline">
        {% for movie in movies %}
        <div class="column is-4">
            <a href="movie{{ loop.index }}-detail.html">
                <div class="movie-card">
                    <img src="{{ movie.trailerLink }}" alt="尚無照片...">
                    <div class="movie-info">
                        <h3>{{ movie.movieTitle }}</h3>
                        <p>{{ movie.電影介紹 }}</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</form>
{% endblock %}